<div ng-include= " 'partials/navbar.html' "></div>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <h1 class="page-header">Admin Dashboard</h1>
          <h4>Enter product details below. Please ensure that you click the "Save" button in order to store the item. </h4>
          <form>
  			    <div class="form-group">
    			  	<label for="SKU">Product SKU</label>
    			    <input type="text" class="form-control" id="emailaddress" placeholder="Product SKU" ng-model="product.SKU" autofocus>
    			
    			    <label for="brand">Product Brand</label>
              <input type="text" class="form-control" id="emailaddress" placeholder="Brand" ng-model="product.brand">

              <label for="department">Product Department</label>
              <input type="text" class="form-control" id="department" placeholder="Department" ng-model="product.department">
              <label for="department">Product Category</label>
    			    <input type="text" class="form-control" id="category" placeholder="Category" ng-model="product.category">
    			 
    			 	 <label for="type">Product Type</label>
    			    <input type="text" class="form-control" id="type" placeholder="Type i.e. Chair, Couch" ng-model="product.type">
    			 
    			 	 <label for="price">Product Price</label>
    			    <input type="text" class="form-control" id="price" placeholder="Price" ng-model="product.price">
    			
    			 	 <label for="quantity">Quantity</label>
              <input type="text" class="form-control" id="quantity" placeholder="Quantity" ng-model="product.quantity">
             <label for="location">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Quantity" ng-model="product.location">
             <label for="description">Description</label>
    			   <input type="text" class="form-control" id="description" placeholder="Description" ng-model="product.description">
  			   </div>
  			 	<button class="btn btn-info" ng-click="save()"> Save </button>
      </form>
    </div>
  </div>
</div>