<div ng-include=" 'partials/navbar.html' ">
</div>
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="category in categories">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><a href="/view/{{category}}">{{category}}</a></h4>
              <span class="text-muted"></span>
            </div>
          </div>

          <h2 class="sub-header">Line Item Inventory</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>SKU</th>
                  <th>BRAND</th>
                  <th>TYPE</th>
                  <th>PRICE</th>
                  <th>QUANTITY</th>
                  <th>LOCATION</th>
                  <th>DESCRIPTION</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in allitems">
                  <td><a href="/{{item.SKU}}">{{item.SKU}}</a></td>
                  <td>{{item.brand}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.location}}</td>
                  <td>{{item.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>