<div ng-include=" 'partials/navbar.html' ">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

      <h2 class="sub-header">Category Listing</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>SKU</th>
              <th>BRAND</th>
              <th>TYPE</th>
              <th>PRICE</th>
              <th>QUANTITY</th>
              <th>LOCATION</th>
              <th>DESCRIPTION</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in details">
              <td><a href="/{{item.SKU}}">{{item.SKU}}</a></td>
              <td>{{item.brand}}</td>
              <td>{{item.type}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.location}}</td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>