<div ng-include=" 'partials/navbar.html' "></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h1 class="page-header">Admin Dashboard</h1>
      <h4>Enter the corrections below. If any information is to remain the same, please re-enter it. Otherwise, the information will be deleted from the system. When finished, hit "Save Edits" to store changes. </h4>
      <form>
  	    <div class="form-group" ng-repeat="user in users">
    	  	<label for="id">Employee Id</label>
    	    <input type="text" class="form-control" id="emailaddress" placeholder="{{user.employeeId}}"ng-model="editedUser.employeeId">
    	
    	    <label for="name">Employee Name</label>
    	    <input type="text" class="form-control" id="emailaddress" placeholder="{{user.name}}" ng-model="editedUser.name">
    	 
    	 	  <label for="emailaddress">Email address</label>
    	    <input type="email" class="form-control" id="emailaddress" placeholder="{{user.email}}" ng-model="editedUser.email">
    	 
    	 	  <label for="department">Department</label>
    	    <input type="text" class="form-control" id="emailaddress" placeholder="{{user.department}}" ng-model="editedUser.department">
    	
    	 	  <label for="admin">Admin</label>
    	    <input type="text" class="form-control" id="emailaddress" placeholder="{{user.admin}}" ng-model="editedUser.admin">
  	    </div>
	      <button class="btn btn-info" ng-click="saveEdits()"> Save Edits</button>
	    </form>
    </div>
  </div>
</div>