<div ng-include=" 'partials/navbar.html' "></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-4" ng-repeat="product in products">
      <h1 class="page-header">Product Details for {{product.SKU}} </h1>
      <h3>Brand: {{product.brand}}</h3>
      <h3>Department: {{product.department}}</h3>
      <h3>Category: {{product.category}}</h3>
      <h3>Type: {{product.type}}</h3>
      <h3>Quantity Available: {{product.quantity}}</h3>
      <h3>Price per Unit: {{product.price}}</h3>
      <h3>In-Store Location: {{product.location}}</h3>
      <h3>Description: {{product.description}}</h3>
      <h3>Date Entered Inventory: {{product.date_created}}</h3>
      <h3>Entered By: {{product.created_by}}</h3>
      <a class="btn btn-info" href="/edit-product/{{product.SKU}}"> Edit</a>
    </div>
  </div>
</div>

      