
<div class="container">
	<div class="col-md-8 offset-md-3">
		<h2>Complete the fields below for access to SIMS. </h2>
	</div>
	<div class="row main">
		<div class="main-login main-center">
			<form>
				
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" ng-model="user.name"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Your Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" ng-model="user.email"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="user.password"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Department</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="department" id="department"  placeholder="Enter your Department" ng-model="user.department"/>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Employee Id</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="empId" id="empId"  placeholder="Enter Your Employee Id" ng-model="user.employeeId"/>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<button id="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="register()">Register</button>
				</div>
				
			</form>
		</div>
	</div>
</div>
