<div ng-include=" 'partials/navbar.html' "></div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h1 class="page-header">Admin Dashboard</h1>
      <h2 class="sub-header">SIMS Registered Users List</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>EMPLOYEE ID</th>
              <th>NAME</th>
              <th>DEPARTMENT</th>
              <th>EMAIL</th>
              <th>ADMIN STATUS</th>
              <th>DATE CREATED</th>
              <th>EDIT</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user.employeeId}}</td>
              <td>{{user.name}}</td>
              <td>{{user.department}}</td>
              <td>{{user.email}}</td>
              <td>{{user.admin}}</td>
              <td>{{user.date_created}}</td>
              <td><a class="btn btn-info" href="/edit-user/{{user.employeeId}}">Edit</a></td>
            </tr>       
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
